= form_for("user", :url => user_session_path,:html => { :class => "pull-right"}) do |f|
  = f.email_field :email, :class => 'input-medium', :placeholder => 'Email'
  = f.password_field :password, :class => 'input-medium', :placeholder => 'Password'
  %button.btn{:type => "submit"} Sign in