%title Educon (Dev)
%meta{charset: "utf-8"}
%meta{name: "author", content: "Markus Hanses"}
%meta{name: "description", content: "Web based application to manage (conduct) you're business as educator"}
%meta{:charset => "utf-8"}
%meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
%meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
= csrf_meta_tags
= stylesheet_link_tag :application
= javascript_include_tag :application
= javascript_include_tag 'modernizr.js'
