.hero-unit
  %h2
    Willkommmen auf Edu{cation} Con{ductor}!
  %p
  %h3
    Wir bietet Ihnen bald einen eleganten Weg Ihre Arbeit als selbstständiger Erzieher zu organisieren
  %p
  %ul
    %li Verwalten Sie ihre Kunden, Auftraggeber, Ansprechpartner, und Ihre Mitarbeiter.
    %li Lassen Sie Ihre Mitarbeiter Ihre Tätigkeiten online erfassen.
    %li uvm.