// import original bootstrap

@import "bootstrap";
@import "responsive";

html.signed_out {

  body {
    padding-top: 60px;
    padding-bottom: 40px;

    .navbar {
      input {
        margin-bottom: 2px;
      }
      button {
        margin-bottom: 8px;
      }
    }
  }
}

html.signed_in {

  body {

    padding-top: 60px;
    padding-bottom: 40px;

    .navbar {
      a.btn {
        margin-top: 6px;
        margin-left: 10px;
      }
    }
  }
}

