%p
  Hallo #{@resource.firstname} #{@resource.lastname},

%p
  auf
  %a{:href => 'http://educon.heroku.com'} Educon
  wurde um Instruktionen zum Ersetzen Ihres Passworts gebeten.

%p
  Folgen Sie
  = link_to 'diesem Link', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
  , um das Passwort neu zu setzen.

%p Falls Sie nicht nicht darum gebeten haben, ignorieren Sie einfach diese Email.

%p Ihr Passwort bleibt unverändert, bis Sie diesem Link folgen und ein neues Passwort setzen.
