%p
  Hallo #{@resource.firstname} #{@resource.lastname},

%p
  auf
  %a{:href => 'http://educon.heroku.com'} Educon
  wurde um diese Email mit einer Anleitung zum Ersetzen des Passwortes gebeten.

%p
  Um das alte Passwort durch ein Neues zu ersetzen, folgen Sie
  = link_to 'diesem Link', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token), :id => :link_reset_password
  und geben Sie Ihr neues Passwort zur Bestätigung zwei Mal ein.

%p
  Falls Sie nicht darum gebeten haben, können Sie diese Email ignorieren. Ihr Passwort bleibt dann unverändert.

%p
  Mit freundlichen Grüßen

%p
  Ihr Educon Team
