!!! utf-8
%html.no-js.signed_out
  %head
    = render "shared/meta"
    %body
      = render "shared/header"
                          
      .container
        .content
          = render :partial => "shared/flashes"
          = yield