!!! utf-8
%html.no-js.signed_out
  %head
    = render "shared/meta"
    %body
      = render "shared/topbar_signed_out"
      .container
        .content
          = render "shared/flashes"
          = yield